# Ignore build output and user-specific files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.config/dotnet-tools.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectEvaluation/vehicleinsurance.metadata.v9.bin
.vs/ProjectEvaluation/vehicleinsurance.projects.v9.bin
.vs/ProjectEvaluation/vehicleinsurance.strings.v9.bin
.vs/VehicleInsurance/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/VehicleInsurance/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/VehicleInsurance/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
.vs/VehicleInsurance/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
.vs/VehicleInsurance/DesignTimeBuild/.dtbcache.v2
.vs/VehicleInsurance/FileContentIndex/2a8d9bd9-896d-4bee-8896-62685a80bd10.vsidx
.vs/VehicleInsurance/FileContentIndex/5bde5021-689e-4f0f-a2be-e88dfc154ce4.vsidx
.vs/VehicleInsurance/FileContentIndex/7d4cf329-eff2-420d-a18f-6fc1f3f9a554.vsidx
.vs/VehicleInsurance/FileContentIndex/223f4cba-0db4-409f-a9a4-d80e9289042c.vsidx
.vs/VehicleInsurance/FileContentIndex/bf15c62f-14b8-494c-bc32-0ace3cb0115d.vsidx
.vs/VehicleInsurance/config/applicationhost.config
.vs/VehicleInsurance/v17/.futdcache.v2
.vs/VehicleInsurance/v17/DocumentLayout.backup.json
.vs/VehicleInsurance/v17/DocumentLayout.json
.vs/VehicleInsurance/v17/TestStore/0/000.testlog
.vs/VehicleInsurance/v17/TestStore/0/testlog.manifest
